a.link {
    position: relative;
    color: #0c133a;

    &::after {
        content: "";
        position: absolute;
        z-index: -99;
        top: calc(100% + 3px);
        bottom: -4px;
        left: 0rem;
        right: 0rem;
            
        background-color: #0c133a;
        background-size: cover;
        transition: all 0.15s;
    }

    &:hover::after {
        left:  0.5rem;
        right: 0.5rem;
        background-color: #1e275a;
    }
}