@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: left;
    background-color: white;
}

@layer base {
    h1 {
        @apply text-4xl font-bold text-slate-800 text-center mt-7 sm:text-3xl;
    }

    h2 {
        @apply text-3xl font-bold text-slate-800 text-center mt-7 sm:text-2xl;
    }

    h3 {
        @apply text-2xl font-bold text-slate-800 text-center mt-6 sm:text-xl;
    }

    h4 {
        @apply text-xl font-bold text-slate-800 text-center mt-6 sm:text-lg;
    }

    section[data-footnotes] h2#footnote-label, h2#comments-label {
        @apply text-xl font-bold text-slate-700 text-center mt-6 sm:text-lg;
    }

    p {
        @apply text-base leading-7 text-slate-800 mt-4 lg:text-lg lg:mt-6;
    }

    strong {
        @apply text-base font-bold text-slate-800 lg:text-lg;
    }

    a {
        @apply text-base leading-7 font-bold text-primary lg:text-lg hover:underline;
    }

    a[data-footnote-ref] {
        @apply text-sm leading-7 text-primary lg:text-base hover:underline;
    }

    img {
        @apply mx-auto;
    }

    ul {
        @apply list-disc ms-6;
    }

    li {
        @apply text-base leading-7 text-slate-800 lg:text-lg;
    }

    section[data-footnotes] ol {
        @apply list-decimal list-outside ms-8 me-3;
    }

    pre {
        @apply min-w-full flex flex-row;
    }

    code, code * {
        @apply w-full min-w-fit font-mono text-base text-slate-600 bg-slate-800 rounded-sm;
    }

    code:not([class^="language-"]) {
        @apply px-[3px] py-1.5 bg-slate-100;
    }

    pre[class^="language-"] {
        @apply text-slate-200 bg-slate-800 p-4 my-2 rounded-lg overflow-x-auto;
    }

    pre[class^="language-"] * {
        @apply text-inherit;
    }

    span.token.string {
        @apply text-[#f1fa8c];
    }

    span.token.boolean, span.token.keyword {
        @apply text-[#bd93f9];
    }

    span.token.operator {
        @apply text-[#ffb86c];
    }

    span.token.key {
        @apply text-[#8be9fd];
    }

    span.token.comment {
        @apply text-[#6272a4];
    }

    blockquote {
        @apply text-base text-slate-700 bg-slate-100 border-l-4 border-l-primary rounded-l px-6 py-5 mt-4 lg:text-lg lg:mt-6;
    }

    blockquote *:first-child {
        @apply mt-0;
    }
}