---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const {
    href,
    ...props
} = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === '/' + subpath?.[0];
---

<a
    href={href}
    aria-selected={isActive}
    class="
        font-semibold text-slate-900 no-underline mx-2 px-2 py-4
        border-b-[3px] border-b-transparent transition
        hover:text-primary hover:no-underline
        aria-selected:border-b-primary"
    {...props}
>
    <slot />
</a>
