---
import HeaderLink from '@components/HeaderLink.astro';
---

<header class="w-full fixed bg-white/90 backdrop-blur-sm shadow-sm will-change-scroll z-10 print:hidden">
    <nav>
        <div class="w-full flex flex-row items-center justify-center" role="tablist">
            <HeaderLink href="/">Home</HeaderLink>
            <HeaderLink href="/blog">Blog</HeaderLink>
            <HeaderLink href="/projects">Projects</HeaderLink>
            <HeaderLink href="/resume">Resumé</HeaderLink>
        </div>
    </nav>
</header>
