<div class="pro-tip flex flex-row items-center justify-center">
    <span class="text-gray-600">
        <b>💡 ProTip!</b>

        <slot />
    </span>
</div>

<style is:global>
    div.pro-tip a, div.pro-tip span {
        @apply text-sm;
    }
</style>