@use '@styles/sizes' as *;

div.resume {
    width: 100%;
    height: 100%;

    @include screen-max($screen-sm) {
        width: 90%;
    }

    @include screen-minmax($screen-sm, $screen-lg) {
        width: 80%;
    }

    @include screen-min($screen-lg) {
        width: 80%;
        max-width: $screen-lg;
    }
}